In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [30, 10]

In [2]:
temp = pd.read_csv('sample_submission.csv')

In [98]:
temp.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,Total_X_0.005_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,CA_X_0.005_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,TX_X_0.005_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,WI_X_0.005_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,CA_1_X_0.005_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
calendar = pd.read_csv('calendar.csv')

In [5]:
calendar.head(30)

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1
5,2011-02-03,11101,Thursday,6,2,2011,d_6,NaN,NaN,NaN,NaN,1,1,1
6,2011-02-04,11101,Friday,7,2,2011,d_7,NaN,NaN,NaN,NaN,1,0,0
7,2011-02-05,11102,Saturday,1,2,2011,d_8,NaN,NaN,NaN,NaN,1,1,1
8,2011-02-06,11102,Sunday,2,2,2011,d_9,SuperBowl,Sporting,NaN,NaN,1,1,1
9,2011-02-07,11102,Monday,3,2,2011,d_10,NaN,NaN,NaN,NaN,1,1,0
10,2011-02-08,11102,Tuesday,4,2,2011,d_11,NaN,NaN,NaN,NaN,1,0,1
11,2011-02-09,11102,Wednesday,5,2,2011,d_12,NaN,NaN,NaN,NaN,1,1,1
12,2011-02-10,11102,Thursday,6,2,2011,d_13,NaN,NaN,NaN,NaN,1,0,0
13,2011-02-11,11102,Friday,7,2,2011,d_14,NaN,NaN,NaN,NaN,0,1,1
14,2011-02-12,11103,Saturday,1,2,2011,d_15,NaN,NaN,NaN,NaN,0,1,1
15,2011-02-13,11103,Sunday,2,2,2011,d_16,NaN,NaN,NaN,NaN,0,1,0
16,2011-02-14,11103,Monday,3,2,2011,d_17,ValentinesDay,Cultural,NaN,NaN,0,0,1
17,2011-02-15,11103,Tuesday,4,2,2011,d_18,NaN,NaN,NaN,NaN,0,1,1
18,2011-02-16,11103,Wednesday,5,2,2011,d_19,NaN,NaN,NaN,NaN,0,0,0
19,2011-02-17,11103,Thursday,6,2,2011,d_20,NaN,NaN,NaN,NaN,0,0,0
20,2011-02-18,11103,Friday,7,2,2011,d_21,NaN,NaN,NaN,NaN,0,0,0
21,2011-02-19,11104,Saturday,1,2,2011,d_22,NaN,NaN,NaN,NaN,0,0,0
22,2011-02-20,11104,Sunday,2,2,2011,d_23,NaN,NaN,NaN,NaN,0,0,0
23,2011-02-21,11104,Monday,3,2,2011,d_24,PresidentsDay,National,NaN,NaN,0,0,0
24,2011-02-22,11104,Tuesday,4,2,2011,d_25,NaN,NaN,NaN,NaN,0,0,0
25,2011-02-23,11104,Wednesday,5,2,2011,d_26,NaN,NaN,NaN,NaN,0,0,0
26,2011-02-24,11104,Thursday,6,2,2011,d_27,NaN,NaN,NaN,NaN,0,0,0
27,2011-02-25,11104,Friday,7,2,2011,d_28,NaN,NaN,NaN,NaN,0,0,0
28,2011-02-26,11105,Saturday,1,2,2011,d_29,NaN,NaN,NaN,NaN,0,0,0
29,2011-02-27,11105,Sunday,2,2,2011,d_30,NaN,NaN,NaN,NaN,0,0,0

In [6]:
calendar.tail()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [7]:
total_sales = pd.read_csv('sales_train_validation.csv')

In [42]:
total_sales.tail()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,2,0,0,0,0,0,1,0,0,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,2,1,0,2,0,1,0,0,1,0
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,1,0,0,1,0,3,1,3
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
date = pd.to_datetime(calendar['date'].values)

In [30]:
total_price = pd.read_csv('sell_prices.csv')

In [31]:
total_price.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [33]:
stores = total_price['store_id'].unique()

In [38]:
stores

array(['CA_1', 'CA_2', 'CA_3', 'CA_4', 'TX_1', 'TX_2', 'TX_3', 'WI_1',
       'WI_2', 'WI_3'], dtype=object)

In [62]:
len(date[:-56])

1913

In [113]:
items = pd.Series(total_price['item_id'].unique())

In [118]:
items_hobbies = items.loc[items.apply(lambda x : x[0:7])=='HOBBIES']
items_hobbies_1 = items.loc[items.apply(lambda x : x[0:9])=='HOBBIES_1']
items_hobbies_2 = items.loc[items.apply(lambda x : x[0:9])=='HOBBIES_2']

In [85]:
quantity={}
for store in stores:
    quantity[store] = total_sales[(total_sales['store_id']==store)][total_sales.columns[6:]].T
    quantity[store].index = date[:-56]
    quantity[store].columns = items

ValueError: Item wrong length 416 instead of 1913.

In [41]:
for i in stores:
    print(len(total_price[total_price['store_id']==i]['item_id'].unique()))

3049
3049
3049
3049
3049
3049
3049
3049
3049
3049

In [36]:
len(items)

3049

In [16]:
gp_total_price = total_price.groupby(['store_id','item_id','wm_yr_wk']).sum()

In [18]:
gp_total_price.head()

                               sell_price
store_id item_id     wm_yr_wk
CA_1     FOODS_1_001 11101            2.0
                     11102            2.0
                     11103            2.0
                     11104            2.0
                     11105            2.0

In [28]:
total_price.loc[('CA_1')].index.unique()

MultiIndex([(    'FOODS_1_001', 11101),
            (    'FOODS_1_001', 11102),
            (    'FOODS_1_001', 11103),
            (    'FOODS_1_001', 11104),
            (    'FOODS_1_001', 11105),
            (    'FOODS_1_001', 11106),
            (    'FOODS_1_001', 11107),
            (    'FOODS_1_001', 11108),
            (    'FOODS_1_001', 11109),
            (    'FOODS_1_001', 11110),
            ...
            ('HOUSEHOLD_2_516', 11612),
            ('HOUSEHOLD_2_516', 11613),
            ('HOUSEHOLD_2_516', 11614),
            ('HOUSEHOLD_2_516', 11615),
            ('HOUSEHOLD_2_516', 11616),
            ('HOUSEHOLD_2_516', 11617),
            ('HOUSEHOLD_2_516', 11618),
            ('HOUSEHOLD_2_516', 11619),
            ('HOUSEHOLD_2_516', 11620),
            ('HOUSEHOLD_2_516', 11621)],
           names=['item_id', 'wm_yr_wk'], length=698412)